<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        .login-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
        }

        .singinGoogle{
            font-weight:500;
            background-color: #fff;
            font-family: "Roboto", sans-serif;
        }
        .arrow {
            opacity: 0;
            transform: translateX(-8px);
            transition: all 0.25s ease;
        }

        .text {
            font-family:"Roboto", sans-serif;
            font-size: 1rem;
            font-weight:bold;
            transition: transform 0.25s ease;
        }

        .login-btn:hover .arrow {
            opacity: 1;
            transform: translateX(0);
        }

        .login-btn:hover .text {
            transform: translateX(4px);
        }
    </style>
</head>
<body>

    @RenderBody()

</body>
</html>