################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ArisSkyve/bin/Debug/net10.0
/ArisSkyve/obj
/ArisSkyve/appsettings.json
